<section class="header">

    <div class="header__image-container">
        <img
            src="{{url_for('static', path='img/logo_chimallidev_100.webp')}}"
            alt="Logo de Chimallidev"
            class="header__image"
        >
    </div>

    <div class="header__content">

        <h1 class="header__title">
            Erick Roman
        </h1>

        <p class="header__subtitle">
            @chimallidev
        </p>


        <div class="header__tags">
        </div>

    </div>

</section>